.btn {
    @apply bg-blue-500 text-white px-2 py-1 rounded text-sm md:text-base md:px-4 md:py-2 hover:bg-blue-600 transition-colors;
  }
  
  .text-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1.0;
    user-select: text;
  }
  
  .text-layer > span {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
  }
  
  .text-layer ::selection {
    background: rgba(0,0,255,0.3);
  }
  
  .text-layer span::selection {
    background: rgba(0,0,255,0.3);
  }
  
  .text-layer span[style*="background-color: yellow"] ::selection {
    background: transparent;
  }